* {
    font-size: calc(0.625rem + 0.4vw);
}

:root {
    --main-color: #f8fafc;
    --secondary-color: #6ee7b7;
    --accent-color: #a5b4fc;
}

body {
    min-height: 100vh;
    background-color: var(--main-color);
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 0.5rem 2rem;

}

.search {
    grid-area: 1/1/2/2;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search img {
    height: 1.5rem;
    width: 1.5rem;
}

.search input {
    flex: 1;
    border-radius: 25px;
    border: none;
    background-color: var(--accent-color);
    height: 1.5rem; 
}

.sidebar {
    grid-column: 1;
    display: grid;
    background-color: var(--secondary-color);
}

.main-content {
    display: grid;
    grid-column: 2 / 3;
}